In [13]:
import math
import os
import random
import re
import sys


# The function is expected to return an INTEGER.
# The function accepts following parameters:
#  1. INTEGER d
#  2. INTEGER_ARRAY arr
#

def beautifulTriplets(d, arr):
  count = 0

  n = len(arr)

  for i in range(n - 2):
      for j in range(i + 1, n - 1):
          if arr[j] - arr[i] == d:
              for k in range(j + 1, n):
                  if arr[k] - arr[j] == d:
                      count += 1

  return count




if __name__ == '__main__':

    first_multiple_input = input().rstrip().split()

    n = int(first_multiple_input[0])

    d = int(first_multiple_input[1])

    arr = list(map(int, input().rstrip().split()))

    result = beautifulTriplets(d, arr)

    print(result)

7 3
1 2 4 5 7 8 10
3

In [3]:
1