#For Loop Assignment

##Basic Level:

###1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

###2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in lst:
  sum = sum + i
  print(sum)

1
3
6
10
15
21
28
36
45

###3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
my_string = "Hello, World"
reversed_string = ""

for char in my_string[::-1]:
    reversed_string += char

print(reversed_string)

dlroW ,olleH

###4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
num = int(input("Enter the number"))
factorial = 1

for i in range(1, num + 1) :
  factorial *= i

print("factorial of the", num, "is: ", factorial)

Enter the number10
factorial of the 10 is:  3628800

###5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
num = 5
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

###6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
even = []
odd = []
for num in lst:
  if num%2 == 0:
    even.append(num)
  elif num%2 != 0:
    odd.append(num)
  else :
    print("wrong number")

print("Even Numbers : ", even)
print("odd Numbers : ", odd)

Even Numbers :  [2, 4, 6, 8]
odd Numbers :  [1, 3, 5, 7, 9]

###7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for num in range(1, 6):
  square = num * num
  print(square)

1
4
9
16
25

###8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
string = "hello, world!"
count = 0
for char in string :
  count += 1

print(count)

13

###9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
sum = 0
avg = 0
for num in lst :
  sum = sum + num
  avg = sum / len(lst)

print(avg)

5.0

###10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
n = int(input("Enter the number: "))
a, b = 0, 1
for _ in range(n):
    print(a)
    a, b = b, a + b

Enter the number: 15
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

##Intermediate Level:

###11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
lst = [1, 2, 3, 4, 2, 5]
duplicates = False
for i in range(len(lst)) :
  for j in range(i + 1, len(lst)):
    if lst[i] == lst[j]:
      duplicates = True
      break

if duplicates :
  print("This list contains duplicates")
else :
  print("This list is unque")

This list contains duplicates

###12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
start = int(input("Enter the number you want to start with: "))
end = int(input("Enter the number you want to end with: "))
print("Prime numbers in the range", start, "to", end, "are:")
for num in range(start, end + 1):
    if num > 1:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

Enter the number you want to start with: 10
Enter the number you want to end with: 30
Prime numbers in the range 10 to 30 are:
11
13
17
19
23
29

###13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
string = "Program to count the vowels from the string"
vowels = "AEIOUaeiou"
vowel_count = 0
for char in string :
  if char in vowels :
    vowel_count += 1

print("Total number of vowels in string: ", vowel_count)

Total number of vowels in string:  11

###14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
lst = [[1, 2, 3], [4, 9, 6], [7, 8, 5]]
max_element = lst[0][0]
for i in lst:
    for j in i:
        if j > max_element:
            max_element = j
print("Maximum element:", max_element)

Maximum element: 9

###15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
lst = [1, 2, 3, 4, 2, 5, 2, 3, 4, 2, 5]
new_list = []
for item in lst :
  if item not in new_list :
    new_list.append(item)

new_list

[1, 2, 3, 4, 5]

###16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for num in range(1, 6) :
  print(f"Multiplication table for {i}:")
  for j in range(1, 11) :
    table = num * j
    print(f"{i} x {j} = {table}")

Multiplication table for 5:
5 x 1 = 1
5 x 2 = 2
5 x 3 = 3
5 x 4 = 4
5 x 5 = 5
5 x 6 = 6
5 x 7 = 7
5 x 8 = 8
5 x 9 = 9
5 x 10 = 10
Multiplication table for 5:
5 x 1 = 2
5 x 2 = 4
5 x 3 = 6
5 x 4 = 8
5 x 5 = 10
5 x 6 = 12
5 x 7 = 14
5 x 8 = 16
5 x 9 = 18
5 x 10 = 20
Multiplication table for 5:
5 x 1 = 3
5 x 2 = 6
5 x 3 = 9
5 x 4 = 12
5 x 5 = 15
5 x 6 = 18
5 x 7 = 21
5 x 8 = 24
5 x 9 = 27
5 x 10 = 30
Multiplication table for 5:
5 x 1 = 4
5 x 2 = 8
5 x 3 = 12
5 x 4 = 16
5 x 5 = 20
5 x 6 = 24
5 x 7 = 28
5 x 8 = 32
5 x 9 = 36
5 x 10 = 40
Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

###17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
fah_temp = [32, 68, 94, 45, 26, 86, 104]
cel_temp = []

for temp_f in fah_temp:
    temp_c = (temp_f - 32) * 5/9
    cel_temp.append(temp_c)

print("Celsius Temperatures:", cel_temp)

Celsius Temperatures: [0.0, 20.0, 34.44444444444444, 7.222222222222222, -3.3333333333333335, 30.0, 40.0]

###18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = []

for i in list1 :
  if i in list2:
    common_elements.append(i)

common_elements

[3, 4, 5]

###19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern

In [ ]:
n = 5
for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

###20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
def calculate_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = 48
num2 = 60
gcd = calculate_gcd(num1, num2)
print("GCD of", num1, "and", num2, "is", gcd)

##Advanced Level:

###21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
numbers = [123, 456, 789]
sum_of_digits = []

for num in numbers:
    digit_sum = 0
    for digit in str(num):
        digit_sum += int(digit)
    sum_of_digits.append(digit_sum)

print("Sum of digits in the list:", sum_of_digits)

Sum of digits in the list: [6, 15, 24]

###22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
def prime_factors(n):
    factors = []
    i = 2

    while i <= n:
        if n % i == 0:
            factors.append(i)
            n = n / i
        else:
            i += 1

    return factors

number = 60
prime_factors_list = prime_factors(number)
print("Prime factors of", number, "are:", prime_factors_list)

Prime factors of 60 are: [2, 2, 3, 5]

###23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [ ]:
my_list = [1, 2, 2, 3, 3, 4, 5]
unique_elements = []

for item in my_list:
    if item not in unique_elements:
        unique_elements.append(item)

print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5]

###24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [ ]:
limit = 100
palindromic_numbers = []

for number in range(1, limit + 1):
    if str(number) == str(number)[::-1]:
        palindromic_numbers.append(number)

print("Palindromic numbers up to", limit, "are:", palindromic_numbers)

Palindromic numbers up to 100 are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

###25. Write a program to flatten a nested list using list comprehension.

In [ ]:
nested_list = [[1, 2, 3], [4, [5, 6], 7], [8, 9]]
flattened_list = []

for sublist in nested_list:
    for item in sublist:
        if isinstance(item, list):
            for subitem in item:
                flattened_list.append(subitem)
        else:
            flattened_list.append(item)

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

###26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_sum = 0
odd_sum = 0

for num in numbers:
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 20
Sum of odd numbers: 25

###27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [7]:
odd_squares = []

for num in range(1, 11):
    if num % 2 != 0:
        odd_squares.append(num ** 2)

print("Squares of odd numbers:", odd_squares)

Squares of odd numbers: [1, 9, 25, 49, 81]

###28. Write a program that combines two lists into a dictionary using list comprehension.

In [8]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
combined_dict = {}

for i in range(len(keys)):
    combined_dict[keys[i]] = values[i]

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

###29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [9]:
my_string = "Hello, World!"
vowels = "AEIOUaeiou"
vowel_list = []

for char in my_string:
    if char in vowels:
        vowel_list.append(char)

print("Vowels in the string:", vowel_list)

Vowels in the string: ['e', 'o', 'o']

###30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [10]:
string_list = ["abc", "123", "def", "456"]
numeric_list = []

for string in string_list:
    for char in string:
        if char.isdigit():
            numeric_list.append(string)
            break

print("Strings with numeric characters:", numeric_list)

Strings with numeric characters: ['123', '456']

##Challenge Level:

###31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

In [ ]:
limit = 50
sieve = [True] * (limit + 1)
sieve[0:2] = [False, False]

for i in range(2, int(limit ** 0.5) + 1):
    if sieve[i]:
        for j in range(i ** 2, limit + 1, i):
            sieve[j] = False

prime_numbers = [i for i, is_prime in enumerate(sieve) if is_prime]
print("Prime numbers up to", limit, "are:", prime_numbers)

###32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [3]:
limit = 20
pythagorean_triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]
print("Pythagorean triplets up to", limit, "are:", pythagorean_triplets)

Pythagorean triplets up to 40 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40)]

###33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [4]:
list1 = [1, 2]
list2 = ['a', 'b']
combinations = [(x, y) for x in list1 for y in list2]
print("Combinations of two lists:", combinations)

Combinations of two lists: [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

###34. Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.

In [5]:
from statistics import mean, median, mode

numbers = [1, 2, 2, 3, 3, 3, 4, 4, 5]
mean_value = mean(numbers)
median_value = median(numbers)
mode_value = mode(numbers)

print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Mean: 3
Median: 3
Mode: 3

###35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.

In [6]:
def generate_pascals_triangle(n):
    triangle = [[1]]
    for i in range(1, n):
        new_row = [1] + [triangle[i-1][j] + triangle[i-1][j+1] for j in range(i-1)] + [1]
        triangle.append(new_row)
    return triangle

num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

###36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [7]:
import math

numbers = [1, 2, 3, 4, 5]
digit_sums = [sum(int(digit) for digit in str(math.factorial(num))) for num in numbers]
print("Sum of digits of factorials:", digit_sums)

Sum of digits of factorials: [1, 2, 6, 6, 3]

###37. Write a program that finds the longest word in a sentence using list comprehension.

In [8]:
sentence = "This is a sample sentence with some long words"
words = sentence.split()
longest_word = max(words, key=lambda word: len(word))
print("Longest word in the sentence:", longest_word)

Longest word in the sentence: sentence

###38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [11]:
# We start with a list of words.
words = ["apple", "banana", "elephant", "cat", "zebra"]

# We want to find and keep the words that have more than three vowels (letters 'a', 'e', 'i', 'o', 'u').
# First, we create a function called 'vowel_count' that counts the vowels in a word.
def vowel_count(word):
    count = 0  # We start with a count of zero.

    for char in word:
        if char.lower() in "aeiou":
            count += 1  # If the character is a vowel, we increase the count by 1.

    return count  # Finally, we return the total count of vowels in the word.

# Now, we use a list comprehension to filter the words.
filtered_words = []  # We start with an empty list to store the filtered words.

# We go through each word in the 'words' list.
for word in words:
    # We call the 'vowel_count' function for each word to count its vowels.
    count = vowel_count(word)

    # If the count is greater than 3 (meaning it has more than three vowels), we add the word to our filtered list.
    if count > 3:
        filtered_words.append(word)

# At the end, we have a list of words with more than three vowels.
print("Words with more than three vowels:", filtered_words)

Words with more than three vowels: []

###39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.

In [12]:
digit_sums = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]
print("Sum of digits for numbers from 1 to 1000:", digit_sums)

Sum of digits for numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

###40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [13]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

limit = 100
prime_palindromic_numbers = [n for n in range(2, limit) if is_prime(n) and is_palindrome(n)]
print("Prime palindromic numbers up to", limit, "are:", prime_palindromic_numbers)

Prime palindromic numbers up to 100 are: [2, 3, 5, 7, 11]